body {
  color: #fff;
  background-color: #234;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.trump {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://images6.alphacoders.com/592/592187.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
.center {
  margin: auto;
  width: 70%;
  padding: 1rem;
}

.btn-quote {
  font-size: 15px;
  padding: 20px;
  border-style: 0.5px solid red;
  border-radius: 4px;
  background-color: red;
  color: white;
  margin: 0px auto 25px auto;
}

a {
  font-size: 4rem;
  color: red;
}

li a {
  font-size: 2rem;
}

.gif {
  height: 300px;
  width: auto;
}

span {
  font-weight: 200;
  color: red;
  letter-spacing: 3px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 600;
  font-style: italic;
}

footer {
  min-height: 50px;
  background-color: white;
  color: #234;
  font-weight: 600;
  margin-top: 10px;
}
